body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
header{
    text-align: center;
    background-color: rgb(11, 113, 172);
    color: white;
    padding: 10px 0;
    margin-bottom: 20px;
    
}
footer {
    text-align: center;
    background-color: rgb(11, 113, 172);
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}
h1, h2 {
    text-align: center;
    color: #2c3e50;
}
#grafico-container {
    width: 80%;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
#tabella-container {
    width: 60%;
    margin: 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
th {
    background-color: rgb(11, 113, 172);
    color: #fff;
}